@import url('_variables.css');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Chewy&family=Gochi+Hand&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedgwick+Ave+Display&family=Titan+One&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    /* background-color: var(--main-color); */
}

img {
    max-width: 100%;
    display: block;
}

.uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.item-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.vertical-center {
    align-items: center;
}

.btn {
    text-transform: uppercase;
    border-radius: 6px;
    font-size: .875rem;
    cursor: pointer;
}

.btn_Login {
    padding: 8px 18px;
    margin-left: auto;
    border: 1px solid var(--light-color);
    background: none repeat scroll 0 0 transparent;
    color: var(--light-color);
}

.btn_light {
    padding: 16px 52px;
    border: none;
    background-color: var(--light-color);
    color: var(--main-color);
}

.btn_Login span {
    display: none;
}

.main-header {
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
        url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--light-color);
}

.content-wrap {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 20px;

}

/* ----------------------------------------NAVBAR-------------------------------------------- */
.navbar {
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.navbar nav {
    width: 100%;
}

.navbar .menu-icon {
    order: 2;
    margin-left: 20px;
    color: var(--light-color);
    font-size: 1.5rem;
}

.navbar .logo img {
    width: 25px;
}

.navbar .logo span {
    margin-left: 10px;
    line-height: 40px;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--light-color);
}

/* ----------------------------------------MAIN-MENU------------------------------------------- */
.main-menu {
    position: absolute;
    top: 60px;
    right: 2500px;
    width: 100vw;
    height: calc(100dvh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    font-size: 1.5rem;
}

.main-menu.menu-open {
    left: 0;
}

.main-menu li:not(:last-child) {
    margin-bottom: 20px;
}

.main-menu li a {
    color: var(--dark-color);
}

/* ----------------------------------------HEADER------------------------------------------- */
.header-content-wrap {
    flex-direction: column;
    height: calc(100% - 60px);
}

.header-title {
    margin-bottom: 20px;
    font-size: 2rem;
}

.header-subtitle {
    max-width: 540px;
    margin-bottom: 20px;
    line-height: 150%;
    text-align: center;
    font-size: .875rem;
}

/* ----------------------------------------MODAL------------------------------------------- */

.modal-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.525)
}

.modal {
    width: 80vw;
    height: 50dvh;
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    background-color: var(--light-color);
}

.modal-form {
    height: 100%;
    flex-direction: column;
}

.modal-form label  {
    margin-bottom: 20px;
}

.modal-form label:not(:first-child)  {
    margin-bottom: 40px;
}

.modal-form input[type="submit"] {
    margin-top: 40px;

}

.modal input:not([type="submit"]) {
    display: block;
    height: 30px;
    margin-bottom: 25px;
}

.modal-input {
    display: block;
}

.modal .close-modal {
    position: absolute;
    right: 20px;
    top: 20px; 
}

/* ..........................PAGE2........................................, */
.media-section {
    padding: 46px 0;
}

.media-section .content-wrap {
    flex-direction: column;
}

.section-title {
    font-size: 1.125rem;
}

.media-section .section-title {
    margin-bottom: 1.5rem;
}

.media-section-content {
    margin-bottom: 1.5rem;
    max-width: 445px;
    margin-right: 125px;
}

.media-section-content p {
    margin-bottom: 0.75rem;
}

.link {
    color: #ED4C5C;
}

.media-section-link {
    font-size: .875rem;
}

.media-section-visual {
    position: relative;
    max-width: 445px;
    margin: 0 auto;
}

.media-section-visual img {
        border-radius: 15px;/
}

.play-btn {
    position: absolute;
    top: calc(50% - 33px);
    left: calc(50% - 33px);
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #ED4C5C;
    cursor: pointer;
}

.play-btn i {
    font-size: 1.5rem;
    color: var(--light-color);
}

.media-section_bg {
    background-color: #ED4C5C;
    color: var(--light-color);
}

.media-section_bg .media-section-content p {
    margin-bottom: 40px;
}

.media-section_bg .download-icons a {
    color: var(--light-color);
    font-size: 1.75rem;
    margin-right: 24px;
}
/* ..........................PAGE 3 Cards................................., */

.cards-section {
    padding-top: 32px;
    padding-bottom: 62px;
    background-color: #FAFAFA;
}

.cards-section .section-title {
    margin-bottom: 32px;
}

.row{
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    max-width: 350px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border: 1px solid;
}

.row-item {

}
 


/* ..........................Media-queries................................., */


/* ..........................768........................................... */

@media screen and (min-width: 768px) {
    .header-title {
        margin-bottom: 40px;
        font-size: 4.5rem;
    }

    .header-subtitle {
        max-width: 540px;
        margin-bottom: 40px;
        line-height: 150%;
        text-align: center;
        font-size: 1.5rem;
    }

    .col-1-2 {
        width: calc(50% - 15px);
    }

    .card {
        margin: 0;
    }
}

/* ..........................992......................................... */
@media screen and (min-width: 992px) {
    .navbar {
        height: 100px;
    }

    .navbar .logo span {
        line-height: 1000px;
    }

    .btn_Login {
        padding: 12px 28px;
    }

    .btn_Login span {
        display: inline;
    }

    .btn_Login i {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .main-menu {
        position: static;
        right: 2500px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: var(--light-color);
        font-size: 1.5rem;
    }

    .main-menu li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 15px;
    }

    .main-menu li a {
        color: var(--light-color);
        font-size: .875rem;
    }

    .header-content-wrap {
        height: calc(100% - 100px);
    }

    .media-section {
        padding: 94px 0;
    }

    .section-title {
        font-size: 2.25rem;
    }

    .media-section .content-wrap {
        flex-direction: row;
    }

    .media-section-content {
        margin-bottom: 1.5rem;
    }

    .media-section-content {
        margin-bottom: 0;
    }

    .media-section-visual {
        margin: 0;
    }

    .play-btn {
        left: -33px;
    }

    .play-btn i {
        font-size: 1.5rem;
        color: var(--light-color);
    }
/* -------------------------------CARDS---------------------------- */
    .cards-section {
        padding-top: 64px;
        padding-bottom: 124px;  
    }

    .cards-section .section-title {
        margin-bottom: 32px;
    }
}
/* ..........................1150........................................ */
@media screen and (min-width: 1150px) {
    .content-wrap {
        padding: 0;
    }

    .col-1-3 {
        width: calc(33.333333% - 22px);
    }
}